* {
  /* ===========================================================
                      General
  =========================================================== */

  text-font: "SF Pro Text 10";
  icon-font: "Font Awesome 5 Free 40";

  /* ===========================================================
                      Option Menus
  =========================================================== */

  option-element-padding: 5% 3.83% 5% 3.59%;
  option-listview-spacing: 40px;
}
